.drawerList {
  background-color: var(--bg-dashboard);
  height: 100vh;
  padding: 10px;
  color: var(--text-color);
  max-width: 300px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  .ChatList {
    .dashBoardLink {
      border-radius: 6px;
      padding: 7px 7px;
      font-size: 14px;
      text-wrap: wrap;
      font-weight: 400;
    }
  }

  .title {
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
  }

  .list {
    .listMenu {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
