.endChat {
  padding-bottom: 100px;
  .newPrompt {
    margin-top: 40px;
    .newForm {
      width: 60%;
      position: absolute;
      bottom: 0;
      background-color: var(--bg-tertiary);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      padding: 0px 20px;
      box-sizing: border-box;
      user-select: none;
      box-shadow: var(--box-shadow);

      .area {
        width: 100%;

        textarea {
          border: none;
          width: auto;
          height: auto;
          outline: none;
          margin: 20px 0px;
          background: transparent;
          color: var(--text-input-color);
          resize: none;
          width: 100%;
          font-size: 16px;
          line-height: 1.5;
          max-height: 170px;
        }

        textarea::-webkit-scrollbar {
          width: 6px;
        }

        ::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        ::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 12px;
        }

        textarea:hover::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 12px;
        }
      }

      .button_container {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        button,
        label {
          border-radius: 50%;
          background-color: var(--btn-bg);
          border: none;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 20px;
            height: 20px;
            filter: var(--invert-image);
          }
        }
        label:hover,
        button:hover {
          /* background: rgba(255, 255, 255, 0.4); */
          background: var(--btn-hover-bg);
        }
      }
    }
  }
}

/* Mobile device */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 1200px) {
  .endChat {
    .newPrompt {
      width: 100%;

      .newForm {
        width: 100%;
      }
    }
  }
}
