.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100%;
  position: relative; */
}

.homepage .home-content {
  flex: 1;
  display: flex;
  gap: 100px;
  flex-direction: row;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-align: center;
  height: calc(100vh - 50px);

  h1 {
    font-size: 90px;
    background: linear-gradient(to right, #217bfe, #e55571);
    -webkit-background-clip: text;
    color: transparent;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 17px;
    max-width: 75%;
    font-weight: 500;
    margin-top: 20px;
  }
  a {
    padding: 15px 25px;
    background-color: #217bfe;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;

    &:hover {
      background-color: white;
      color: #217bfe;
      transition: all 0.3s ease;
    }
  }
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .imgContainer {
    display: flex;
    align-items: center;
    background-color: var(--bg-bot);
    border-radius: 50px;
    width: 100%;
    max-width: 500px; /* Giới hạn tối đa */
    aspect-ratio: 16 / 9; /* Giữ tỷ lệ hình vuông */
    position: relative;

    .bgContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50px;
      overflow: hidden;

      .bg {
        background-image: url("/bg.png");
        opacity: 0.2;
        width: 150%;
        height: 100%;
        background-size: auto 100%;
        display: block;
        animation: 8s ease-in-out infinite alternate slideBg;
      }
    }

    .bot {
      width: 120%;
      height: 120%;
      object-fit: contain;
      animation: 3s ease-in-out infinite alternate botAnimate;
    }

    .chat {
      position: absolute;
      padding: 10px 5px;
      bottom: -30px;
      right: -50px;
      font-size: 1.3rem;
      background-color: var(--bg-chat-animation);
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }
  }
}

.orbital {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.1;
  animation: 100s linear infinite rotateOrbital;
  width: 60%;
  height: 100%;
  z-index: -1;
  filter: var(--invert-image);
}

.footer {
  margin-top: 20px;
  padding: 10px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 20px;
}

@keyframes rotateOrbital {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

@keyframes botAnimate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(-5deg);
  }
}

@keyframes slideBg {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .homepage .home-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 50px !important;
  }
  .homepage .footer {
    margin-top: 50px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    gap: 10px;

    h1 {
      font-size: 40px !important;
      font-weight: 500;
    }
    h2 {
      font-size: 16px !important;
      font-weight: 500;
    }
    h3 {
      font-size: 14px !important;
      font-weight: 400;
      max-width: 80%;
    }
  }

  .chat {
    bottom: -40px !important;

    span {
      font-size: 1rem !important;
    }
  }
}

/* large devices */
@media screen and (max-width: 992px) {
  .homepage .home-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 70px;
    scrollbar-width: none;
  }

  .homepage .footer {
    margin-top: 70px;
  }

  .right {
    width: 100%;
    .imgContainer {
      height: 70%;
      width: 70%;
      border-radius: 15px;
      .bgContainer {
        border-radius: 15px;
      }
    }
  }
}

/* medium devices  */
@media screen and (max-width: 768px) {
  .homepage::-webkit-scrollbar {
    display: none;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    gap: 10px;

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 20px;
      display: -webkit-box;
      overflow: hidden;
    }
    h3 {
      font-size: 16px;
    }
  }

  .right {
    .imgContainer {
      border-radius: 15px;
      .bgContainer {
        border-radius: 15px;
      }
    }

    .chat {
      bottom: -40px !important;

      span {
        font-size: 1.2rem;
      }
    }
  }
}
