.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    display: flex;
    gap: 8px;
    align-items: center;

    span {
      font-weight: bold;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.user {
  display: flex;
  align-items: center;

  .signInButton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #000; /* Màu chữ */
    background-color: #fff; /* Màu nền */
    border: 2px solid #000; /* Viền */
    border-radius: 12px; /* Bo góc */
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #d0d0d0;
      color: #0c0c16;
    }
  }
}

main {
  flex: 1;
  overflow: hidden;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1200px) {
  .rootLayout {
    padding: 16px 28px;
  }
}

@media screen and (max-width: 992px) {
  .rootLayout {
    padding: 16px 28px;
  }

  header {
    .logo {
      font-size: 14px !important;
    }

    .user {
      .signInButton {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rootLayout {
    padding: 16px 28px;
  }

  header {
    .logo {
      font-size: 14px !important;
    }

    .user {
      .signInButton {
        font-size: 14px !important;
      }
    }
  }

  .group-control {
    display: flex;

    .mobile-only {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .rootLayout {
    padding: 16px 28px;
  }
}
