.ChatList {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;

  .title {
    padding: 10px 7px;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .dashBoardLink {
    padding: 10px 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .dashBoardLink:hover {
    background-color: #2c2937;
  }

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px;
    max-width: 250px;
    padding-right: 5px;

    .listMenu {
      padding: 10px 7px;
      border-radius: 6px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #2c2937;
      }

      a {
        /* padding: 10px; */
        white-space: nowrap; /* không xuống dòng */
        text-overflow: ellipsis; /* hiện dấu "..." */
        max-width: 100%;
        overflow: hidden;
        border-radius: 6px;
      }

      a.active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .list::-webkit-scrollbar {
    width: 6px; /* Độ rộng thanh cuộn */
  }

  .list::-webkit-scrollbar-track {
    background: transparent;
  }

  .list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  .list:hover::-webkit-scrollbar-thumb {
    background-color: rgba(164, 125, 125, 0.4);
  }
}
