.ChatList {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;

  .title {
    padding: 10px 7px;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .dashBoardLink {
    padding: 10px 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-color);
    /* background-color: var(--link-bg); */
    margin-bottom: 5px;
  }

  .dashBoardLink:hover {
    /* background-color: #1a1821; */
    background-color: var(--link-hover-bg);
  }

  hr {
    border: none;
    height: 2px;
    background-color: var(--divider-color);
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px;
    max-width: 250px;
    padding: 0 7px;

    .listMenu {
      border-radius: 6px;
      display: flex;
      align-items: center;
      /* background-color: var(--link-bg); */
      color: var(--text-color);
      margin-bottom: 5px;

      &:hover {
        /* background-color: #1a1821; */
        background-color: var(--link-hover-bg);
      }

      a {
        /* padding: 10px; */
        padding: 10px 7px;
        display: block;
        width: 100%;
        height: 100%;
        white-space: nowrap; /* không xuống dòng */
        text-overflow: ellipsis; /* hiện dấu "..." */
        overflow: hidden;
        border-radius: 6px;
      }

      a.active {
        background-color: var(--chat-active-bg);
        color: var(--text-color);
      }
    }
  }

  .list::-webkit-scrollbar {
    width: 6px; /* Độ rộng thanh cuộn */
  }

  .list::-webkit-scrollbar-track {
    background: transparent;
  }

  .list::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 10px;
  }

  .list:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-hover);
  }
}
